<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.9.2" />
  <package id="Microsoft.CodeAnalysis.CSharp.CodeStyle" version="4.9.2" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.3.2" />
  <package id="Microsoft.Unity.Analyzers" version="1.19.0" />
  <package id="Roslynator.Analyzers" version="4.12.0" />
  <package id="Roslynator.CodeAnalysis.Analyzers" version="4.12.0" />
  <package id="Roslynator.Formatting.Analyzers" version="4.12.0" />

  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.4" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.9.2" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.2" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.3.2" />
  <package id="Microsoft.NetCore.Analyzers" version="3.3.2" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.2" />
  <package id="System.Collections.Immutable" version="8.0.0" />
  <package id="System.Reflection.Metadata" version="8.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" />
</packages>
